@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
/* add a comment here */
:root{
    --primary-color:black ;
    --secondary-color: black;
    --accent1-color:#FFB691;
    --accent2-color:#FFD791 ;

    --heading-font:'Rock Salt', serif;
    --paragraph-font:roboto, serif;

    --nav-background-color:white;
    --nav-link-color: black;
    --nav-hover-link-color: black;
    --nav-hover-background-color: grey;
}
body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}
h1, h2, h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
p {
    padding: 25px;
    color: var(--secondary-color)
}
header{
    display: grid;
    grid-template-columns: 1fr 2fr ;
    grid-gap: 20px;
    padding-left: 40px;
    background-color: grey;
    border: 5px solid grey;
    font-size: 20px;
    border-bottom: 5px solid white;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-self: center;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited{
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
main{
    display: flex;
    flex-direction: row-reverse;
    border:  5px solid gray;
    font-size: 20px;
    border-bottom: 5px solid white;
}
h1{
    margin: 0 auto;
    background-color: grey;
    font-size: 25px;
    
    text-align:center;
    -webkit-text-fill-color: white;
    
}
.contact-info{
    width: 600px;
    text-align: right;
    background-color: white;
    -webkit-text-fill-color: black;
}
form{
    background-color: grey;
    text-align: left;
    -webkit-text-fill-color: white;
}
footer{
    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-gap: 5px;
    background-color: grey;
    border: 1px solid grey;
    -webkit-text-fill-color: white;
    font-size: 20px;
}
figcaption{
    text-align: center;
}
input,
textarea,
select,
button{
  width: 250px;
  margin: 0;
  box-sizing: border-box;
}
form p{
    padding-left: 0;
}
button{
    -webkit-text-fill-color: black;
}